body {
  padding: 0;
  margin: 0;
}

section {
  text-align: center;
  margin: 70px auto;
}

.gorgons div {
  height: 200px;
  width: 300px;
  border-radius: 8px;
  margin: 0 35px;
  display: inline-block;
}

.stoneOne {
  background-image: url('http://i.imgur.com/NNjN1zm.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.loadOne {
  background-image: url('http://i.imgur.com/iboW7Kh.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.stoneUser {
  background-image: url('http://i.imgur.com/ooH7aAK.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.loadUser {
  background-image: url('http://i.imgur.com/eBOZCIC.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.stoneTwo {
  background-image: url('http://i.imgur.com/zfmHPwT.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.loadTwo {
  background-image: url('http://i.imgur.com/lQISRvg.gif');
  background-repeat: no-repeat;
  background-size: contain;
}