html {
  background-image: url('images/medusatextback2.gif');
  background-repeat: no-repeat;
}

body {
  padding: 0;
  margin: 0;
}

section {
  text-align: center;
/*  margin: 70px auto;*/
  top: 70px;
  width: 900px;
  z-index: 2;
  position: absolute;
  transform: translate(30%);
}

.gorgons div {
  height: 200px;
  width: 240px;
  border-radius: 8px;
  margin: 0 20px;
  display: inline-block;
  position: relative;
}

.stoneTwo {
  background-image: url('https://i.imgur.com/NNjN1zm.gif');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 100px;
  padding-left: 300px;
}

.twoLoad {
  background-image: url('https://i.imgur.com/iboW7Kh.gif');
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 100px;
  padding-left: 300px;
  cursor: pointer;
}

.stoneUser {
  background-image: url('https://i.imgur.com/ooH7aAK.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.userLoad {
  background-image: url('https://i.imgur.com/eBOZCIC.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.stoneFive {
  background-image: url('https://i.imgur.com/zfmHPwT.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.fiveLoad {
  background-image: url('https://i.imgur.com/lQISRvg.gif');
  background-repeat: no-repeat;
  background-size: contain;
  padding-right: 10px;
  cursor: pointer;
}

.stoneThree {
  background-image: url('https://i.imgur.com/6N8Bmaq.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.threeLoad {
  background-image: url('https://i.imgur.com/IGjKV3x.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.stoneFour {
  background-image: url('https://i.imgur.com/XqvazqV.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

.fourLoad {
  background-image: url('https://i.imgur.com/CGxDqvl.gif');
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.welcome {
  color: #ffffff;
  background: rgba(000, 111, 999, 0.65);
  height: 550px;
  width: 45%;
  position: absolute;
  z-index: 2;
  left: 20%;
  top: 10%;
  text-align: justify;
  font-size: 2em;
  padding: 20px 100px;
  font-family: "Helvetica", san-serif;
  cursor: pointer;
  text-shadow: 1px 1px 30px rgba(000, 000, 999, .9);
}

.welcome h1 {
  font-size: 1.3em;
  text-align: center;
  text-shadow: 1px 1px 40px rgba(000, 000, 999, .8);
  font-family: 'Playfair Display SC', serif;
  font-style: italic;
}

.welcome p,
h1 {
  margin: 50px auto;
}

.welcome h6 {
  text-align: center;
  font-style: italic;
}
[id='1'] img {
  margin-left: -200px;
  padding-right: 400px;
}

.number1 { 
  z-index: -10;
  position: absolute;
  display: none; !important;
  height: 50px;
  left: 450px;
  top: 70px;
}

.number2 { 
  z-index: -10;
  position: absolute;
  display: none; !important;
  height: 50px;
  left:-30px;
  top: 90px
}

.number3 { 
  z-index: -10;
  position: absolute;
  display: none; !important;
  height: 50px;
  left:230px;
  top: 100px;
}

.number4 { 
  z-index: -10;
  position: absolute;
  display: none; !important;
  height: 50px;
  left: -40px;
  top: 100px;
}

#blue {
  text-align: center;
  font-family: helvetica;
  height: 200px;
  width: 150px;
  position: absolute;
  z-index: -3;
  left: 170px;
  bottom:-70px;
  display: none;
}

#rules img{
  position: absolute;
  top: 70px;
  left: 230px;
  height: 170px;
  cursor: pointer;
  transform: rotate(4deg);

}

.rules img {
  position: absolute;
  top: 70px;
  left: 230px;
  height: 170px;
  cursor: pointer;
  z-index: 5;
  transform: rotate(4deg);
  background: url('images/rules.gif');
  background: no-repeat;

}

#winner {
  height: 350px;
  width: 450px;
  transform: skewX(-17deg) translate(120%, 50%);
  background: rgba(000,000,000,0.30);
  display: none;
  position: relative;
  z-index: 10;
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
  font-size: 1.7em;
  text-decoration: none;
  color: #0065ff;

}

#winner p {
  padding-top: 110px;

}

#loser {
  height: 350px;
  width: 450px;
  transform: skewX(-17deg) translate(120%, 50%);
  background: rgba(000,000,000,0.30);
  display: none;
  position: relative;
  z-index: 10;
  text-align: center;
  font-family: helvetica;
  font-weight: bold;
  font-size: 1.7em;
  text-decoration: none;
  color: #0065ff;
}

#loser p {
  padding-top: 110px;

}

a {
  text-decoration: none;
}



/*////////////////////////////////Media Query//////////////////////////////*/
@media (max-width: 600px) {
  .gorgons div {
    height: 200px;
    width: 240px;
    border-radius: 8px;
    margin: 0 20px;
    display: inline-block;
    background-size: 110%;
  }
}